<!-- navbar -->
<nav class="shadow-sm bg-light fixed-top">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center py-3">
      <h3
        class="fw-bold mb-0"
        onclick="
          window.location.pathname.includes('/pages/')
            ? (window.location.href = '../index.html')
            : (window.location.href = 'index.html')
        "
      >
        Chhnang Khmer
      </h3>

      <!-- icons -->
      <div class="d-flex gap-3">
        <a href="p4_add2cardpage.html" class="btn btn-outline-secondary">
          <span class="material-symbols-outlined"> shopping_cart </span>
        </a>

        <button class="btn btn-outline-secondary">
          <span class="material-symbols-outlined"> account_circle </span>
        </button>
      </div>
    </div>
  </div>
</nav>
